* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'MuseoCyrl-900';
  src: url('../fonts/MuseoCyrl-900.woff') format('woff'),
       url('../fonts/MuseoCyrl-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
}
/* Шапка  сайта */
.header {
  background-color: #f1f1f1;
}
.header-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link {
  margin-left: 11px;
  margin-right: 11px;
  text-decoration: none;
  color: inherit;
}
.login {
  text-decoration: none;
  color: inherit;
}

/* Главная секция */
.hero {
  padding-top: 62px;
  padding-bottom: 71px;
}
.hero-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
}
.hero-img {
  padding-right: 122px;
}
.hero-text {
}
.author {
  display: block;
  margin-bottom: 22px;
  font-size: 24px;
  color: inherit;
}
.title {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'MuseoCyrl-900';
  font-size: 54px;
  font-weight: 700;
  color: inherit;
}
.subtitle {
  display: block;
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 29px;
  color: inherit;
}
.info {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: inherit;
  margin-bottom: 49px;
}
.info-txt {
  flex-basis: 45%;
  margin-bottom: 16px;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  margin-right: 64px;
  color: inherit;
}
.favorites {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
.buttons {
}
.btn {
  padding: 22px 59px;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  border: solid 2px transparent;
  font-size: 16px;
}
.btn-primary {
  margin-right: 18px;
  background-color: #f89c02;
  cursor: pointer;
}
.btn-outline {
  display: inline-block;
  color: #f89c02;
  text-decoration: none;
  border: solid 2px #f89c02;
}

/* О книге */
.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  margin: auto;
}
.section-title {
  font-size: 32px;
  font-weight: 700;
}
.about-book {
  max-width: 454px;
  flex-shrink: 0;
}
.about-txt {
  font-size: 16px;
}
.about-txt:nth-child(2) {
  margin-bottom: 40px;
}
.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: solid 1px #f3f3f3;
  background-color: #ffffff;
  padding: 68px 53px;
}
.author-avatar {
  width: 100px;
  height: 100px;
  margin-right: 21px;
  object-fit: cover;
  border-radius: 50%;
}
.author-name {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
}
.author-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}
.author-txt {
  margin-top: 28px;
  flex-basis: 100%;
  font-size: 16px;
}

/* Читатели  */
.readers {
  max-width: 1140px;
  margin: auto;
  
  background-color: #ffffff;
}
.readers-title {
  margin-bottom: 56px;
}
.readers-container {
  padding-top: 167px;
  padding-bottom: 80px;
}
.readers-foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  object-fit: cover;
}
.readers-item {
  margin-bottom: 29px;
}
.readers-img {
  display: block;
  width: 165px;
  height: 165px;
  background-color: #ccc;
}
